<!DOCTYPE html>
<html lang="en">
<head>
  <title> Signup - Fassa7ni </title>
  <link rel="stylesheet" href="layana/css/bootstrap.min.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards%7CDosis:300,400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800;' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="layana/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="layana/css/animate.min.css" type="text/css">
  <link rel="stylesheet" href="layana/css/style.css" type="text/css">
</head>
<body ng-app="">
  <script src= "angular-1.6.4/angular.min.js"></script>

  <div class="container">
  <div class="row">
  	<div class="col-lg-12 text-center">
  		<h2 class="section-heading"><b>SIGN UP</b></h2>
  		<hr class="primary">
  		<br/>
  	</div>
  </div>
  </div>

  <div class="container">
    <div class="container">

  <div class="form-group row">
  <label for="display-name" class="col-4 col-form-label">Display Name</label>
  <div class="col-10">
    <input class="form-control" type="text" placeholder="Artisanal kale" id="display-name">
  </div>
</div>

<div class="form-group row">
  <label for="e-mail" class="col-2 col-form-label">Email</label>
  <div class="col-10">
    <input class="form-control" type="email" placeholder="example@example.com" id="e-mail">
  </div>
</div>

<div class="form-group row">
  <label for="password" class="col-2 col-form-label">Password</label>
  <div class="col-10">
    <input class="form-control" type="password" placeholder="Password" id="password">
  </div>
</div>

<div class="form-group row">
  <label for="confirm-password" class="col-2 col-form-label">Confirm Password</label>
  <div class="col-10">
    <input class="form-control" type="password" placeholder="Confirm Password" id="confirm-password">
  </div>
</div>

<div class="form-group row">
  <label for="birthdate" class="col-2 col-form-label">Birth Date</label>
  <div class="col-10">
    <input class="form-control" type="date" id="birthdate">
  </div>
</div>

<div class="form-group row">
  <label for="gender" class="col-2 col-form-label">Gender</label>
  <div class="col-10">
  <div class="form-check form-check-inline" id="gender">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Female"> Female
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Male"> Male
  </div>
  </div>
</div>

<div class="form-group row">
  <label for="contact" class="col-2 col-form-label">Way of Contact</label>
  <div class="col-10">
  <div class="form-check form-check-inline" id="contact">
    <input class="form-check-input" type="radio" name="wayOfContact" ng-model="contactWay" id="email" value="email"> E-mail
    <input class="form-check-input" type="radio" name="wayOfContact" ng-model="contactWay" id="phone" value="phone"> Phone
    <input ng-show= "contactWay == 'phone'"class="form-control" type="tel" name="phoneNumber" placeholder="Enter Your Phone Number" id="phoneNumber">
  </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-10">
    <button id="submit-button" name="user-signup" class="contact submit btn btn-primary btn-xl" type="submit" formmethod="post" >Sign Up</button>
  </div>
</div>

</div>
</div>

</body>
</html>

