<html> 

	<head> 

		<h1> <%=title%> </h1>

	</head>




	<body> 
		<ul>
		 <% categories.forEach(function(categories){%>
		 
		 <li> <%= categories.type %> </li>
		 
										 <%})%>
		 </ul>

	</body>


</html>