<html> 

	<head> 

		<h1> <%=title%> </h1>

	</head>




	<body> 
		<ul>
		 <% offers.forEach(function(offers){%>
		 
		 <li> <%= offers.type %> </li>
		 
										 <%})%>
		 </ul>


	<% if(errors != undefined) { %>

	<ul>
	 <% errors.forEach(function(error){%>
	 
	 <li> <%= error.msg %> </li>
	 
			 <%})%>
	 </ul>
	<%}%>


      <h3>Add offer</h3>
		 <form id = "myForm" method = "POST" action = "/offers">
	PlaceName:
	<br /><br />
      <input type :"text" name = "placeName"   size = "10" />
      <br /><br />

      Category:
      <br /><br />
      <input type :"text" name = "category"   size = "10" />
      <br /><br />
	
	 Date:        
	 <br /><br />  
      <input type :"text" name = "date"   size = "10" />
      <br /><br />

      Description:
      <br /><br />
      <input type :"text" name = "descriptionn"    size = "100" />
      <br /><br />

       

      
      <input type = "submit"  name = "submit" />
      
    </form>

	</body>


</html>