<html ng-app = "TM">
<h1> Requested Businesses </h1>
<form class="form">
<body ng-controller = "appController">
  <table class="col-xs-12">
    <tr>
      <th>Email</th>
      <th>BusinessName</th>
      <th>Category</th>
      <th>CreditCard</th>
      <th>HolderName</th>
      <th>CVV</th>
      <th>ValidDate</th>
      <th>Description</th>
      <th></th>
    </tr>


      <tr ng-repeat= "item in protocolList">
        <td>{{item.requesterMail}}</td>
        <td>{{item.businessName}}</td>
	<td>{{item.category}}</td>
        <td>{{item.cardNumber}}</td>
        <td>{{item.holderName}}</td>
        <td>{{item.cvv}}</td>
        <td>{{item.validdate}}</td>
        <td>{{item.description}}</td>
        <td>
          <button type="submit" id="submit" value="Submit" data-id="#{item.requesterMail}" class="btn btn-danger col-xs-12" ng-click="delsubmit(item.requesterMail)">X</button>
        </td>
        <td>
          <button data-id="#{item.requesterMail}" data-id1="#{item.businessName}" class="add-doc btn btn-danger col-xs-12"ng-click="addsubmit(item)">✔</button>
        </td>
      </tr>
	
  </table>
</body>
</form>
</html>

