<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<body ng-controller="escapeRoomController">
  <br>
  <br>
  <br>
  <br>
  <br>
<div >
  <div class="container">
    <div class="row">
  	   <div class="col-lg-12 text-center">
  		      <h2 class="section-heading"><b>Reviews</b></h2>
  		      <hr class="primary">
  		      <br/>
  	   </div>
    </div>
  </div>

  <div class="container">
    <div class="card" ng-repeat="review in concerts" >
      <h3 class="card-header">Review</h3>
        <div class="card-block">
          <h4 class="card-title">Title : {{review.title}}</h4>
          <p class="card-text">Body: {{review.body}}</p>
          <p class="card-text">By: {{review.nameOfUser}}</p>
          <p class="card-text">Business Name: {{review.businessName}}</p>
            <p class="card-text">Date: {{review.date}}</p>

        </div>
   </div>
 </div>

  </div>

</body>
</html>
