
<!DOCTYPE html>
<html lang="en">
 <div id="carousel-example-generic" class="carousel intro slide">
				<!-- Indicators -->

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">


					<!-- Third slide -->
					<div  class="item active" style="background-image:url(img/hacker-1080p-wallpaper_1.jpg)">
						<div  class="carousel-caption">
		

				<h2 class="ddd">Admin Control Panel</h2>
				<hr class="primary">

	 <div> <a href="/CountUsers" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Count Users</a> <a href="/showusrsk" class="btn btn-primary btn-lg" data-animation="animated bounceIn">View Users</a>  	<a href="/rate" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Rating</a>  </div>

     <div > <a href="/viewbusreq" class="btn btn-primary btn-lg" data-animation="animated bounceIn">View Business Requests  </a>



		<!--<div> <a href="" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Search User</a>  <a href="" class="btn btn-primary btn-lg" data-animation="animated bounceIn">View Users</a> </div>-->

	<a href="/addFilter" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Add Filter</a> </div>


			</div>
		</div>
		</div>
		</div>
			<br>
</div>
</div>
</div>
</div>
		</body>
</form>
	</html>
