<html>
    <head>
       
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
        <script src="assets/js/angular.js"></script>
        <script src="assets/js/angular-route.js"></script>
        <script src="app/app.js"></script>
        <script src="app/route.js"></script>
        <script src="app/controllers/bookingCtrl.js"></script>
        <title> Hi There </title>
    </head>
    <body ng-app="MyApp">
         <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/api/view">ViewMyBookings</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/businessreq">ViewRequests</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      
         <h1> Hello from index </h1>

      

        <script src="assets/js/jquery-3.1.1.min.js"></script>
        <script src="assets/js/bootstrap.js"></script>
    </body>
</html>
