<!DOCTYPE html>
<html lang="en">

		<div class="item" >
			<div>
				
				<h2 data-animation="animated zoomInLeft">
				Admin </h2>
				<h1 data-animation="animated zoomInRight">
				Admin Page </h1>
				<!--<a href="#" class="btn btn-ghost btn-lg" data-animation="animated bounceIn">Start Tour</a> -->							
	 <div > <a href="/count" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Count Users</a> 	<a href="/rate" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Rating</a> </div>

     <div> <a href="/viewbusreq" class="btn btn-primary btn-lg" data-animation="animated bounceIn">View Business Requests  </a>        



		<div> <a href="" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Search User</a>  <a href="" class="btn btn-primary btn-lg" data-animation="animated bounceIn">View Users</a> </div>

		<div> <a href="" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Update Info</a>  <a href="/addFilter" class="btn btn-primary btn-lg" data-animation="animated bounceIn">Add Filter</a> </div>


			</div>
		</div>
		</html>
