<html ng-app="viewK">

	<form class="form">

	<body ng-controller= "viewKController">
		<div id="carousel-example-generic" class="carousel intro slide">
			<!-- Indicators -->

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">


				<!-- Third slide -->
				<div  class="item active" style="background-image:url(img/football.jpg)">
					<div  class="carousel-caption">
		<h1>Kora</h1>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left" ng-repeat="item in place">
				<li>
				<a class="ddd" href="/viewKorap/{{item.businessName}}">{{item.businessName}}</a>
				</li>

			</ul>

		</div>
		</div>
		</div>
		</div>
		</div>

	  </body>
	 </form>
	</html>
