<!DOCTYPE html>
<html ng-app = "FilterCtrl" >

  <head>
    <meta charset="utf-8">
    <title>Fasa7ni</title>
  </head>
  <body ng-controller = "filterController">
<form ng-submit = "visitor.addBusinessReq(regData);" name=visitorForm novalidate>

    <!-- Section Intro Slider
    ================================================== -->
    <div id="carousel-example-generic" class="carousel intro slide">
    	<!-- Indicators -->
    	<ol class="carousel-indicators">
    		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    		<li data-target="#carousel-example-generic" data-slide-to="1"></li>

    	</ol>
    	<!-- Wrapper for slides -->
    	<div class="carousel-inner" role="listbox">
    		<!-- First slide -->
    		<div class="item active" style="background-image:url(img/Cairo.jpg)">
    			<div class="carousel-caption">

    				<h1 data-animation="animated bounceInUp">
    				Welcome To Fasa7ni!</h1>

    			</div>
    		</div>
    		

    	</div>


    <!-- Section Contact
    ================================================== -->

    <section id="request">
    <div class="container">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2 text-center">
    		<h2 class="section-heading">Send Business Request</h2>
    		<hr class="primary">
    		<p>
    			 Business owner? Send us a request to add your business here.
    		</p>
		
    		<div class="regularform" >
    			<div class="done">
    				<div class="alert alert-success">
    					<button type="button" class="close" data-dismiss="alert">×</button>
    					Your request has been sent. Thank you!
    				</div>
    			</div>
    			
	
           			 <div class="form-group" ng-class="{ 'has-error' : visitorForm.email.$invalid && visitorForm.email.$touched }">
    				<input name="email" type="text" class="col-md-6 norightborder" placeholder="Your Email *" class="form-control" ng-model = "regData.requesterMail" required>
           			 <p ng-show="visitorForm.email.$invalid && visitorForm.email.$touched" class="help-block">Your Email is required.</p>
         			 </div>

				<div class="form-group" ng-class="{ 'has-error' : visitorForm.password.$invalid && visitorForm.password.$touched }">
    				<input name="password" type="password" class="col-md-6" placeholder="Password *" ng-model = "regData.password" required>
				 <p ng-show="visitorForm.password.$invalid && visitorForm.password.$touched" class="help-block">Your Password is required.</p>
         			 </div>
				
				<div class="form-group" ng-class="{ 'has-error' : visitorForm.businessName.$invalid && visitorForm.businessName.$touched }">				
    				<input name="businessName" type="text" class="col-md-6" placeholder="Your Business Name *" ng-model = "regData.businessName" required>
				<p ng-show="visitorForm.businessName.$invalid && visitorForm.businessName.$touched" class="help-block">Your BusinessName is required.</p>
         			 </div>
				

				<div class="form-group" ng-class="{ 'has-error' : visitorForm.credit.$invalid && visitorForm.credit.$touched }">					
    				<input name="credit" type="text" class="col-md-6" placeholder="Your Credit Card Number *" ng-model = "regData.cardNumber" required>
				<p ng-show="visitorForm.credit.$invalid && visitorForm.credit.$touched" class="help-block">Your Credit Card Number is required.</p>
         			 </div>

	<div ng-class = "{'has-error' : visitorForm.category.$invalid && visitorForm.category.$touched}">
	<select class ="form-control" ng-model = "regData.category" name= "category" required>
 	 <option value="Cinema">Cinema</option>
 	 <option value="Concert">Concert</option>
 	 <option value="EscapeRoom">EscapeRoom</option>
 	 <option value="Fight">Fight</option>
	 <option value="Kora">Kora</option>
	 <option value="Malahy">Malahy</option>
	 <option value="Race">Race</option>
	 <option value="Theater">Theater</option>
	 <option value="Trampoline">Trampoline</option>
	</select>
	<p ng-show = "visitorForm.category.$invalid && visitorForm.category.$touched" class = "help-block"> Please Choose One Of The Categories</p>
	<br>
	</div>
				<div class="form-group" ng-class="{ 'has-error' : visitorForm.cvv.$invalid && visitorForm.cvv.$touched }">
    				<input name="cvv" type="text" class="col-md-6" placeholder="Your Credit Card's CVV *" ng-model = "regData.cvv" required>
				<p ng-show="visitorForm.cvv.$invalid && visitorForm.cvv.$touched" class="help-block">Your Credit Card CVV is required.</p>
         			 </div>

				<div class="form-group" ng-class="{ 'has-error' : visitorForm.valid.$invalid && visitorForm.valid.$touched }">
    				<input name="valid" type="text" class="col-md-6" placeholder="Your Credit Card's Validation Date *" ng-model = "regData.validdate" required>
				<p ng-show="visitorForm.valid.$invalid && visitorForm.valid.$touched" class="help-block">Your Credit Card Valid Date is required.</p>
         			 </div>
				
				<div class="form-group" ng-class="{ 'has-error' : visitorForm.description.$invalid && visitorForm.description.$touched }">
    				<textarea name="description" class="col-md-12" placeholder="Your Business Description *" ng-model = "regData.description" required></textarea>
				<p ng-show="visitorForm.description.$invalid && visitorForm.description.$touched" class="help-block">You Business Description is required.</p>
         			 </div>
				
			

						
    				<input name="description" type="submit" id="submit" class="contact submit btn btn-primary btn-xl" ng-disabled = "visitorForm.$invalid" value="Send request">
				

    		</div>

    	</div>
    </div>
    </div>

    </section>


  </body>
</form>
	    			<div class = "row show-hide-message" ng-show="visitor.SuccessMSG">
			<div class = "alert alert-success">{{ visitor.SuccessMSG }}</div>
			</div>
			<br>
			<div class = "row show-hide-message" ng-show="visitor.errMSG">
			<div class = "alert alert-danger">{{ visitor.errMSG }}</div>
			</div>
</html>
