<!DOCTYPE html>
<html >

  <head>
    <meta charset="utf-8">
    <title>Fasa7ni</title>
  </head>
  <body >

    <!-- Section Intro Slider
    ================================================== -->
    <div id="carousel-example-generic" class="carousel intro slide">
    	<!-- Indicators -->
    	<ol class="carousel-indicators">
    		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    		<li data-target="#carousel-example-generic" data-slide-to="1"></li>

    	</ol>
    	<!-- Wrapper for slides -->
    	<div class="carousel-inner" role="listbox">
    		<!-- First slide -->
    		<div class="item active" style="background-image:url(img/Cairo.jpg)">
    			<div class="carousel-caption">

    				<h1 data-animation="animated bounceInUp">
    				Welcome To Fasa7ni!</h1>

    			</div>
    		</div>
    		

    	</div>


    <!-- Section Contact
    ================================================== -->
    <section id="request">
    <div class="container">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2 text-center">
    		<h2 class="section-heading">Send Business Request</h2>
    		<hr class="primary">
    		<p>
    			 Business owner? Send us a request to add your business here.
    		</p>
    		<div class="regularform" >
    			<div class="done">
    				<div class="alert alert-success">
    					<button type="button" class="close" data-dismiss="alert">×</button>
    					Your request has been sent. Thank you!
    				</div>
    			</div>
    			<form method="post" action="contact.php" id="businessform" class="text-left" name="business" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : business.email.$invalid && business.email.$touched }">
    				<input name="email" type="text" class="col-md-6 norightborder" placeholder="Your Email *" required class="form-control" >
            <p ng-show="business.email.$invalid && business.email.$touched" class="help-block">You name is required.</p>
          </div>
    				<input name="password" type="password" class="col-md-6" placeholder="Password *">
    				<input name="businessName" type="text" class="col-md-6" placeholder="Your Business Name *">
    				<input name="credit" type="text" class="col-md-6" placeholder="Your Credit Card Number *">
    				<input name="cvv" type="text" class="col-md-6" placeholder="Your Credit Card's CVV *">
    				<input name="valid" type="text" class="col-md-6" placeholder="Your Credit Card's Validation Date *">
    				<textarea name="description" class="col-md-12" placeholder="Your Business Description *"></textarea>
    				<input type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="Send request">
    			</form>
    		</div>
    	</div>
    </div>
    </div>
    </section>

  </body>
</html>
