<html ng-app = "concert">
<h1> New Concert </h1>
<form class="form" ng-submit = "businessConcert.updateConcert(regData);" ng-upload method="post">
<body ng-controller = "addConcert">
  <table class="col-xs-12">
    <tr>
      <th>Event Name</th> <td><input class ="form-control" type="text" ng-model = "regData.eventName" > <br> </td>
      </tr>
      
      <tr>
      <th>Time Slot</th> <td><input class ="form-control" type="text"  ng-model = "regData.timeSlot"> <br> </td>
      </tr>
   
      <tr>
      <th>Date</th> <td><input class ="form-control" type="text" ng-model = "regData.eventDate"> <br> </td>
      </tr>
      
      <tr>
      <th>Price</th> <td><input class ="form-control" type="text"  ng-model = "regData.price"> <br> </td>
      </tr>
         
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Add</button>
        </td>
	
  </table>
</body>
</form>
</html>

