<html ng-app = "cinema">
<h1> Create new Cinema </h1>
<form class="form" ng-submit = "businessCinema.updateCinema(regData);" ng-upload method="post">
<body ng-controller = "addCinema">
  <table class="col-xs-12">
    <tr>
      <th>Screen Name</th><td><input class ="form-control" type="text" ng-model = "regData.name" > <br> </td>
      </tr>
      
      <tr>
      <th>Movie</th> <td><input class ="form-control" type="text"  ng-model = "regData.movies"> <br> </td>
      </tr>
   
      <tr>
      <th>Seats</th> <td><input class ="form-control" type="text" ng-model = "regData.seats"> <br> </td>
      </tr>
      
      <tr>
      <th>Time Slots</th> <td><input class ="form-control" type="text"  ng-model = "regData.timeSlots"> <br> </td>
      </tr>
      
      <tr>
      <th>Price</th> <td><input class ="form-control" type="text"  ng-model = "regData.price"> <br> </td>
      </tr>
         
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Add</button>
        </td>
	
  </table>
</body>
</form>
</html>

