<html ng-app = "fight">
<h1> New Fight </h1>
<form class="form" ng-submit = "businessFight.updateFight(regData);" ng-upload method="post">
<body ng-controller = "addFight">
  <table class="col-xs-12">
    <tr>
      <th>Game Name</th> <td><input class ="form-control" type="text" ng-model = "regData.name" > <br> </td>
      </tr>
      
      <tr>
      <th>Game Fields</th> <td><input class ="form-control" type="text"  ng-model = "regData.fields"> <br> </td>
      </tr>
   
      <tr>
      <th>Price</th> <td><input class ="form-control" type="text" ng-model = "regData.price"> <br> </td>
      </tr>
      
      <tr>
      <th>Minimum Age</th> <td><input class ="form-control" type="text"  ng-model = "regData.minAge"> <br> </td>
      </tr>
      
      <tr>
      <th>Minimum Team No.</th> <td><input class ="form-control" type="text"  ng-model = "regData.teamMinNumber"> <br> </td>
      </tr>
      
      <tr>
      <th>Maximum Team No.</th> <td><input class ="form-control" type="text"  ng-model = "regData.teammaxNumber"> <br> </td>
      </tr>
      
      <tr>
      <th>Time Slots</th> <td><input class ="form-control" type="text"  ng-model = "regData.timeSlots"> <br> </td>
      </tr>
             
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Add</button>
        </td>
	
  </table>
</body>
</form>
</html>

