<html ng-app = "malahy">
<h1> New Malahy </h1>
<form class="form" ng-submit = "businessMalahy.updateMalahy(regData);" ng-upload method="post">
<body ng-controller = "addMalahy">
  <table class="col-xs-12">
    <tr>
      <th>Ticket Type </th> <td><input class ="form-control" type="text" ng-model = "regData.ticketsType" > <br> </td>
      </tr>
      
      <tr>
      <th>Time Slots</th> <td><input class ="form-control" type="text"  ng-model = "regData.availableSlots"> <br> </td>
      </tr>
   
      <tr>
      <th>Ticket Price</th> <td><input class ="form-control" type="text" ng-model = "regData.price"> <br> </td>
      </tr>

      <tr>
      <th>Malahy Type</th> <td><input class ="form-control" type="text" ng-model = "regData.type"> <br> </td>
      </tr>
      
            <td>
          <button class="add-doc btn btn-danger col-xs-12">Add</button>
        </td>
	
  </table>
</body>
</form>
</html>

