<html ng-app = "race">
<h1> New Race </h1>
<form class="form" ng-submit = "businessRace.updateRace(regData);" ng-upload method="post">
<body ng-controller = "addRace">
  <table class="col-xs-12">
    <tr>
      <th>Price</th> <td><input class ="form-control" type="text" ng-model = "regData.price" > <br> </td>
      </tr>
      
      <tr>
      <th>Time Slots</th> <td><input class ="form-control" type="text"  ng-model = "regData.availableSlots"> <br> </td>
      </tr>
   
      <tr>
      <th>Maximum Carts No.</th> <td><input class ="form-control" type="text" ng-model = "regData.maxNumberOfCarts"> <br> </td>
      </tr>
      
      <tr>
      <th>Minimum People No.</th> <td><input class ="form-control" type="text"  ng-model = "regData.minNumberOfPeople"> <br> </td>
      </tr>
         
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Add</button>
        </td>
	
  </table>
</body>
</form>
</html>

