<html ng-app = "trampoline">
<h1> New Trampoline </h1>
<form class="form" ng-submit = "businessTrampoline.updateTrampoline(regData);" ng-upload method="post">
<body ng-controller = "addTrampoline">
  <table class="col-xs-12">
    <tr>
      <th>Time Slots</th> <td><input class ="form-control" type="text" ng-model = "regData.timeSlots" > <br> </td>
      </tr>
      
      <tr>
      <th>Price</th> <td><input class ="form-control" type="text"  ng-model = "regData.price"> <br> </td>
      </tr>
  
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Add</button>
        </td>
	
  </table>
</body>
</form>
</html>

