<html ng-app = "theatre">
<h1> New Theatre </h1>
<form class="form" ng-submit = "businessTheatre.updateTheatre(regData);" ng-upload method="post">
<body ng-controller = "addTheatre">
  <table class="col-xs-12">
    <tr>
      <th>Hall Name</th> <td><input class ="form-control" type="text" ng-model = "regData.hallName" > <br> </td>
      </tr>
      
      <tr>
      <th>Hall Shows</th> <td><input class ="form-control" type="text"  ng-model = "regData.hallShows"> <br> </td>
      </tr>
   
      <tr>
      <th>Hall Seats</th> <td><input class ="form-control" type="text" ng-model = "regData.hallSeatsTS"> <br> </td>
      </tr>
      
      <tr>
      <th>Time Slots</th> <td><input class ="form-control" type="text"  ng-model = "regData.hallTSTS"> <br> </td>
      </tr>
      
      <tr>
      <th>Price</th> <td><input class ="form-control" type="text"  ng-model = "regData.price"> <br> </td>
      </tr>
          
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Add</button>
        </td>
	
  </table>
</body>
</form>
</html>

