<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<body ng-controller="countController">
<div class="container">
<div class="row">
 <div class="col-md-8 col-md-offset-2 text-center">
		<div class="item" >
			<div ng-if="users!=0">

				<h2  class="section-heading">Number Of Registered Users</h2>
				<hr  class="primary">

        <h2 class="section-heading">{{users}} Users</h2>
        <hr class="primary">

			</div>
      <div ng-if="users==0">

				<h2  class="section-heading">No Registered Users</h2>
				<hr  class="primary">



			</div>
		</div>
		</div>
		</div>

</body>
		</html>
