<html ng-app="myApp">
<body ng-controller="userController">
  <div id="carousel-example-generic" class="carousel intro slide">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">


      <!-- Third slide -->
      <div  class="item active" style="background-image:url(img/Cairo.jpg)">
        <div  class="carousel-caption">
          <h1 data-animation="animated bounceInRight">
          Special Offers</h1>
          <br>
          <br>
<h2 class="section-heading" style ="color:White" ng-if="protocolList==='No offers'">No offers available right now</h2>
          <div style="height: 200px;width:  1200px;  overflow-y: scroll;overflow-x: hidden;position: fixed;left: 50	;" ng-if="protocolList!='No offers'">
          <table class="col-xs-12 ddd">

            <tr >
              <th>Logo</th>
              <th>Place</th>
              <th>Category</th>
              <th>Description</th>
              <th>Valid Till</th>
            </tr>

            <tr ng-repeat="item in protocolList">
              <td><img src="{{item.logoPath}}"></img></td>
              <td>{{item.businessName}}</td>
              <td>{{item.category}}</td>
              <td>{{item.description}}</td>
              <td>{{item.validTill}}</td>

            </tr>

          </table>
        </div>


      <!-- /.item -->


    </div>
    <!-- /.carousel-inner -->
    <!-- Controls (currently displayed none from style.css)-->

  </div>
</div>
</div>

  <!-- /.carousel -->

  <!-- Section Contact
  ================================================== -->
  <section id="request">
  <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

        <h1 >
        Special Offers</h1>
        <br>
        <br>

        </div>


        </div>

      </div>

  </section>

      <!-- /.item -->



    <!-- /.carousel-inner -->
    <!-- Controls (currently displayed none from style.css)-->


  <!-- /.carousel -->







</body>
</html>
