
	<html ng-app="viewR">

		<form class="form">

		<body ng-controller= "viewRController">
			<div id="carousel-example-generic" class="carousel intro slide">
				<!-- Indicators -->

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">


					<!-- Third slide -->
					<div  class="item active" style="background-image:url(img/go.jpg)">
						<div  class="carousel-caption">
			<h1>Race</h1>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left" ng-repeat="item in place">
					<li>
					<a class="ddd" href="/viewRacep/{{item.businessName}}">{{item.businessName}}</a>
					</li>

				</ul>

			</div>
			</div>
			</div>
			</div>
			</div>

		  </body>
		 </form>
		</html>
