<html ng-app="PostOffer" >

<form class="form"ng-submit="serviceProviderOffer.post(data);">

<body ng-controller= "PostOfferController">

<section id="request">
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
		<h2 class="section-heading">Post offers</h2>
		<hr class="primary">
		<p>
			 New offer? post it here.
		</p>
		<div class="regularform">
			<div class="done">
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					Your offer is now posted. Thank you!
				</div>
			</div>
			<form method="post" action="submit" id="offerform" class="text-left" >

				<input name="placeName" type="text" class="col-md-6 norightborder" placeholder="your Business Name *" ng-model="data.name">
				<input name="category" type="text" class="col-md-6" placeholder="category *"ng-model="data.category">
				<input name="valid" type="text" class="col-md-6" placeholder="Your offer's Validation Date * "ng-model="data.validtill">
				<textarea name="description" class="col-md-12" placeholder="Your Business Description *" ng-model="data.description"></textarea>
				<input type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="post">
	
			</form>
		</div>
	</div>
</div>
</div>
</section>

	</div>
  </body>	
 </form>
</html>


