<html ng-app="Main" >

<form class="form">

<body>

<section id="request">
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
		<div><h2 class="section-heading">Service Provider</h2></div>
		<hr class="primary">
		
		<div class="regularform">
			
			<form class="text-left" >
				
				<input type="submit" id="submit2" class="contact submit btn btn-primary btn-xl" value="Update Services">
			
				<a href = "/replyReviews" class="contact submit btn btn-primary btn-xl" >Reply to Reviews</a>
				<a href = "/myBookings" class="contact submit btn btn-primary btn-xl" >View Bookings</a>
				<a href = "/postOffers" class="contact submit btn btn-primary btn-xl" >Post Offers</a>
				<a href = "/addBusiness" class="contact submit btn btn-primary btn-xl" >Add A Business</a>
				<a href = "/updateBusiness" class="contact submit btn btn-primary btn-xl" >Update Business info</a>
			</form>
		</div>
	</div>
</div>
</div>
</section>

	</div>
  </body>	
 </form>
</html>
