<html ng-app="myApp">
<body ng-controller="spController">
  <div id="carousel-example-generic" class="carousel intro slide">
  
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

    </ol>
    <h2 class="section-heading" style ="color:White" ng-if="Sbooks==='No bookings'">No bookings are made yet</h2>
         
    <div class="carousel-inner" role="listbox">


      <div  class="item active" style="background-image:url(img/Cairo.jpg)">
        <div  class="carousel-caption">
          <h1 data-animation="animated bounceInRight">
          Bookings</h1>
          <br>
          <br>
           <div class="ayy" ng-if="Sbooks!='No bookings'">

          <table class="col-xs-12">
	        <tr  class = "ddd">
           <th>Email</th>
           <th>Description</th>
           <th>Status</th>
           <th></th>
           <th></th>
         </tr>


           <tr  class = "ddd" ng-repeat= "item in Sbooks">
            <td>{{item.userEmail}}</td>
           <td>{{item.description}}</td>
          	<td>{{item.status}}</td>
          

      <td>   <div ng-show = "item.status=='In Progress'"><button ng-click= "stat(item._id,'cancel')" class="btn btn-danger col-xs-8">Cancel</button>
              </div>
      </td>
        <td> <div ng-show = "item.status=='In Progress'"> <button ng-click= "stat(item._id,'pay')" class="btn btn-danger col-xs-8">Complete</button>
              </div>
        </td>

          </tr>
           
          </table>
          </div>


    </div>
   
  </div>
</div>
</div>

 

 




</body>
</html>
