<html ng-app="myApp">
<body >
  <div id="carousel-example-generic" class="carousel intro slide">

    <div class="carousel-inner" role="listbox">


      
      <div  class="item active" style="background-image:url(img/Cairo.jpg)">
        <div  class="carousel-caption">
          <h1 data-animation="animated bounceInRight">
          Sign-In</h1>
          <br>
          <br>
        <div class="regularform">

          <form method="post" action="contact.php" id="signInForm" class="text-left">
            <input name="email" type="text" class="col-md-6 norightborder" placeholder="Your Email *">
            <input name="password" type="password" class="col-md-6" placeholder="Password *">
            <input type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="Sign In">
          </form>
        </div>
      </div>

    </div>
  </body>
</html>
