<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<body  ng-controller="signinController">
  <div >
    <div class="container">
      <div class="row">
    	   <div class="col-lg-12 text-center">
    		      <h2 class="section-heading"><b>Sign In</b></h2>
    		      <hr class="primary">
    		      <br/>
    	   </div>
      </div>
    </div>

    <div class="container">
    <form name="userForm" novalidate class="form">
      <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

      <div ng-show="showMessage" class="alert alert-danger">
          <strong>{{errorMessage}}</strong> </div>

        <div class="form-group row" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$touched }">
          <label for="e-mail" class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input class="form-control" type="email" placeholder="example@example.com" id="e-mail" ng-model="email" name="email" required>
            <p ng-show="userForm.email.$invalid && userForm.email.$touched" class="help-block">Enter a valid email.</p>
          </div>
        </div>

        <div class="form-group row" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$touched }">
          <label for="password" class="col-2 col-form-label">Password</label>
          <div class="col-10">
            <input class="form-control" type="password" placeholder="Password" id="password" ng-model="password" name="password" required>
            <p ng-show="userForm.password.$invalid && userForm.password.$touched" class="help-block">Enter Password.</p>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-10">
            <button id="submit-button" name="user-signin" class="contact submit btn btn-primary btn-xl" type="submit" ng-click=sendFormUser()  ng-disabled="userForm.$invalid" >User Sign In</button>
            <button id="submit-button2" name="admin-signin" class="contact submit btn btn-primary btn-xl" type="submit" ng-click=sendFormAdmin()  ng-disabled="userForm.$invalid" >Admin Sign In</button>
            <button id="submit-button3" name="sp-signin" class="contact submit btn btn-primary btn-xl" type="submit" ng-click=sendFormServiceP()  ng-disabled="userForm.$invalid" >Service Provider Sign In</button>
          </div>
          </div>
        </div>
    </form>
      </div>
    </div>
    </body>
    </html>
