<html ng-app = "AM">
<h1> My Profile </h1>
<form class="form" ng-submit = "user1.updateUser(regData);" ng-upload method="post">
<body ng-controller = "test">
  <table class="col-xs-12">
    <tr>
      <th>Name</th> <td><input class ="form-control" type="text" ng-model = "regData.name" > <br> </td>
      </tr>
      
      <tr>
      <th>Gender</th> <td><input class ="form-control" type="text"  ng-model = "regData.gender"> <br> </td>
      </tr>
      
      <tr>
      <th>Home Location</th> <td><input class ="form-control" type="text"  ng-model = "regData.homelocation"> <br> </td>
      </tr>
      
      <tr>
      <th>Contact</th> <td><input class ="form-control" type="text"  ng-model = "regData.contact"> <br> </td>
      </tr>
         
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Update</button>
        </td>
	
  </table>
</body>
</form>
</html>

