<html ng-app = "business">
<h1> My Business Profile </h1>
<form class="form" ng-submit = "business1.updateBusiness(regData);" ng-upload method="post">
<body ng-controller = "serviceprovidercontroller">
  <table class="col-xs-12">
    <tr>
      <th>Name</th> <td><input class ="form-control" type="text" ng-model = "regData.name" > <br> </td>
      </tr>
      
      <tr>
      <th>Location</th> <td><input class ="form-control" type="text"  ng-model = "regData.location"> <br> </td>
      </tr>
   
      <tr>
      <th>Phone Number</th> <td><input class ="form-control" type="text"  ng-model = "regData.number"> <br> </td>
      </tr>
      
      <tr>
      <th>Age Requirement</th> <td><input class ="form-control" type="text"  ng-model = "regData.ageRequirement"> <br> </td>
      </tr>
      
      <tr>
      <th>Address</th> <td><input class ="form-control" type="text"  ng-model = "regData.address"> <br> </td>
      </tr>
      
      <tr>
      <th>Opening Hours</th> <td><input class ="form-control" type="text"  ng-model = "regData.openingHours"> <br> </td>
      </tr>
      
      <tr>
      <th>Canceling Policy</th> <td><input class ="form-control" type="text"  ng-model = "regData.cancelingPolicy"> <br> </td>
      </tr>
      
      <tr>
      <th>Deadline to Cancel</th> <td><input class ="form-control" type="text"  ng-model = "regData.deadlinetoCancel"> <br> </td>

      <tr>
      <th>Canceling Penalty</th> <td><input class ="form-control" type="text"  ng-model = "regData.cancelingPenalty"> <br> </td>

      </tr>
         
              <td>
          <button class="add-doc btn btn-danger col-xs-12">Update</button>
        </td>
	
  </table>
</body>
</form>
</html>

