<html ng-app="Main" >

<form class="form">

<body>
<br></br>
<br></br>
<section id="request">
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
		<div><h2 class="section-heading">User</h2></div>
		<hr class="primary">
		
		<div class="regularform">
			
			<form class="text-left" >
				<a href = "/updateUser" class="contact submit btn btn-primary btn-xl" >Update Info</a>
				<a href = "/viewMybook" class="contact submit btn btn-primary btn-xl" >View My Bookings</a>
			</form>
		</div>
	</div>
</div>
</div>
</section>

	</div>
  </body>	
 </form>
</html>
