
<!DOCTYPE html>
	<html ng-app="TM">
		<head>
		</head>
		
		<body ng-controller="appController">

		<p>Type a letter in the input field:</p>
		<p><input type="text" ng-model="test"></p>
		<table>
		<tr> <th>Users: </th></tr>
			<tr ng-repeat = "user in usrs | filter:test">
							<td></td>
							 <td>{{user.name}} </td>
							 	<td>&</td>
								 	<td></td>
							  <td>{{user.email}} </td>
               <td><button type = "submit" ng-click="findusr(user._id)">Select</a></td>
            </tr>
            </table>
		</body>
	</html>
