<!DOCTYPE html>
	<html ng-app="UC">
		
		<body ng-controller="BookMalahy">
    	<form class="form" ng-submit = "MalahyBook(dataa,page[1].businessName)" onSubmit="alert('Booking Successful');">
	
      <div id="carousel-example-generic" class="carousel intro slide">
				<!-- Indicators -->

				<!-- Wrapper for slides -->
              
				<div class="carousel-inner" role="listbox">
           

					<!-- Third slide -->
					<div  class="item active" style="background-image:url(img/malahy.jpg)"> // background image
            <div  class="carousel-caption">
              <h1>{{page[1].businessName}}</h1>
              <hr class ="primary">
              <div style="height: 200px;width:  1200px;  overflow-y: scroll;overflow-x: hidden;position: fixed;left: 50	;">
              <table class = "col-md-8 col-md-offset-2 text-center">
  <tr class="ddd" > 
               <th style="font-size:20px"><img src="img/location_icon.png" height:"40" width="40">Address: </th>
               <th  style="font-size:20px"><img src="img/star_icon.png" height:"40" width="40">Rating:</th>
               <th  style="font-size:20px"><img src="img/clock_icon.png" height:"40" width="40">Opening Hours: </th>
       </tr> 
  <tr class="ddd">
                  <td style="font-size:20px">
                   <li ng-repeat= "ad in page[0].address"> //getting the business's addresses
                           {{ad}}
                   </li> 
                   </td>
                  <td style="font-size:20px"> {{page[0].rate}}</td> //getting the business's rating
                  <td style="font-size:20px"> {{page[0].openingHours}}</td> //getting the business's opening hours
                 
  
   </tr> 
</table>

          <br></br>
           <br></br>
           <table class = "col-md-8 col-md-offset-2 text-center">
            <tr class="ddd" > <th  style="font-size:20px">Contact: </th></tr>
            <tr class="ddd" > 
               <td style="font-size:20px">
                    <li ng-repeat= "e in page[0].contactInfo.email"> //getting the business's emails
                           Email :{{e}}
                   </li>
                   <li ng-repeat= "n in page[0].contactInfo.number"> //getting the business's numbers
                          Number:  {{n}}
                   </li>  
                   </td>
            </tr>
           </table>

            <br></br>
           <br></br>
           <br></br>
          <table class = "col-md-11 col-md-offset-2 text-left" ng-repeat="SN in page[1].tickets">
             <tr class="ddd" > 
               <th style="font-size:20px" > Ticket type : </th>
               <th style="font-size:20px" > Ticket Price:</th>
              </tr>
             <tr class = "ddd">
               <td style="font-size:20px" >{{SN.ticketType}} </td> //getting the business's ticket types
                <td style="font-size:20px" >{{SN.price}} </td> //getting the business's price
                    
              </tr>
              <tr class ="ddd">
                <th>Games on ticket :</th>
                <td><li ng-repeat="m in SN.games">{{m}}</li></td> //getting the ticket's included games

             
          </table> 

           <hr class ="primary">
            <input type="text" class="col-md-6" placeholder="Select TicketType" ng-model = "dataa.TT">
          <input type="text" class="col-md-6" placeholder="Select NumberOfTickets" ng-model = "dataa.NumberOfTickets">
           
            <input name="booknow" type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="BookNow">
              
            
        </div>  
			          <br>
            </div>
          </div>
        </div>
      </div>
		</body>
      </form>
	</html>
