
<!DOCTYPE html>
	<html ng-app="TM">
		<head>
		</head>
		
		<body ng-controller="appController">

		<p>Type a letter in the input field:</p>
		<p><input type="text" ng-model="test"></p>
		<table>
		<tr> <th>Users: </th></tr>
			<tr ng-repeat = "user in usrs | filter:test"> //looping through the users and filtering them every time a new character is entered the users will be filtered according to it
							<td></td>
							 <td>{{user.name}} </td> // showing the users' names
							 	<td>&nbsp</td>
								 	<td>&nbsp</td>
							  <td>{{user.email}} </td> //showing the users' emails
               <td><button type ="submit" ng-click =  "findusr(user._id)" >Select</a></td>
			  
			  <td>  <button type ="submit" ng-click =  "blockusr(user._id)" >Block</a></td>
			 <td>  <button type ="submit" ng-click =  "Unblockusr(user._id)" >UnBlock</a></td>
            </tr>
            </table>

<div ng-show="rett"> 

<table>	
	
	 <tr><th>&nbsp</th><td>&nbsp</td></tr>
	   
	 <tr>
                <th>User info of :{{retusr.name}}</th>
      </tr>


	  <tr>
	   <tr> <th>Email :</th><td>{{retusr.email}}</td>  </tr>
        <tr><th>birthdate :</th><td>{{retusr.birthdate}}</td></tr>
		<tr> <th>gender :</th><td>{{retusr.gender}}</td>  </tr>
        <tr><th>homelocation :</th><td>{{retusr.homelocation}}</td></tr>
		<tr> <th>contact :</th><td>{{retusr.contact}}</td>  </tr>
        <tr><th>cardNumber :</th><td>{{retusr.cardNumber}}</td></tr>
		<tr> <th>holderName :</th><td>{{retusr.holderName}}</td>  </tr>
        <tr><th>cvv :</th><td>{{retusr.cvv}}</td></tr>
		<tr> <th>validdate :</th><td>{{retusr.validdate}}</td>  </tr>
        <tr><th>balance :</th><td>{{retusr.balance}}</td></tr>
     	<tr><th>blocked :</th><td>{{retusr.blocked}}</td></tr>
	   <tr><th>&nbsp</th><td>&nbsp</td></tr>
	   
          </tr>  </table>
<table ng-repeat= "booking in retbooks">
	<tr><th>His booking history :</th></tr>
	<tr><th>description :</th><td>{{booking.description}}</td></tr>
	<tr><th>booking status :</th><td>{{booking.status}}</td></tr>
</table>

</div>
		</body>
	</html>
