<!DOCTYPE html>
	<html ng-app="UC">
		
		<body ng-controller="BookConcert">
    	<form class="form" ng-submit = "ConcertBook(pagee[1].businessName,pagee[1].eventName,pagee[1].timeSlot)" onSubmit="alert('Booking Successful');">
	
      <div id="carousel-example-generic" class="carousel intro slide">
			<div class="carousel-inner" role="listbox">
           

					<div  class="item active" style="background-image:url(img/concert.jpg)">
            <div  class="carousel-caption">
              <h1>{{pagee[1].businessName}}</h1> 
              <hr class ="primary">
              <div style="height: 200px;width:  1200px;  overflow-y: scroll;overflow-x: hidden;position: fixed;left: 50	;">
              <table class = "col-md-8 col-md-offset-2 text-center">
  <tr class="ddd" > 
               <th style="font-size:20px"><img src="img/location_icon.png" height:"40" width="40">Address: </th>
               <th  style="font-size:20px"><img src="img/star_icon.png" height:"40" width="40">Rating:</th>
               <th  style="font-size:20px"><img src="img/clock_icon.png" height:"40" width="40">Opening Hours: </th>
               <th  style="font-size:20px"><img src="img/dollar_icon.png" height:"30" width="30" >Price: </th>
  </tr> 
  <tr class="ddd">
                  <td style="font-size:20px">
                   <li ng-repeat= "ad in pagee[0].address"> 
                           {{ad}}
                   </li> 
                   </td>
                  <td style="font-size:20px"> {{pagee[0].rate}}</td> 
                  <td style="font-size:20px"> {{pagee[0].openingHours}}</td> 
                   <td style="font-size:20px">{{pagee[1].price}}</td> 
  
  
   </tr> 
</table>

          <br></br>
           <br></br>
           <table class = "col-md-11 col-md-offset-2 text-center">
            <tr class="ddd" > <th  style="font-size:20px">Contact: </th></tr>
            <tr class="ddd" > 
               <td style="font-size:20px">
                    <li ng-repeat= "e in pagee[0].contactInfo.email"> 
                           Email :{{e}}
                   </li>
                   <li ng-repeat= "n in pagee[0].contactInfo.number">
                          Number:  {{n}}
                   </li>  
                   </td>
            </tr>
           </table>

            <br></br>
           <br></br>
           <br></br>
          <table class = "col-md-8 col-md-offset-2 text-center" >
            <tr class ="ddd">
              <th style="font-size:20px">businessName : </th>
               <th style="font-size:20px">eventName : </th>
               <th style="font-size:20px">timeSlot : </th>
               <th style="font-size:20px">Event Date : </th>
            </tr>
            <tr class ="ddd">
              <td style="font-size:20px"> {{pagee[1].businessName}} </td>
                     <td style="font-size:20px" >{{pagee[1].eventName}} </td> 
                  	 <td style="font-size:20px">{{pagee[1].timeSlot}} </td> 
                  	 <td style="font-size:20px">{{pagee[1].eventDate}} </td> 
            </tr>
            <tr>
          <td>
             <hr class ="primary">
            <div ng-show="isLoggedIn && isUser" >
            <input name="booknow" type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="BookNow">  
		  </div>
		    </td>
            </tr>
          </table> 
            
            
        </div>  
			          <br>
            </div>
          </div>
        </div>
      </div>
		</body>
      </form>
	</html>
