<html ng-app = "myApp">
<head ng-controller="filterController">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Fasa7ni - Homepage</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<!-- Custom Fonts -->
<link href='font-awesome/css/cool.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
<!-- Plugin CSS -->
<link rel="stylesheet" href="css/animate.min.css" type="text/css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css">

<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>
<script src="AngularCtrl/UserCtrl.js"></script>
<script src="route.js"></script>
<script src="main.js"></script>
<script src ="AngularCtrl/ServiceProviderCtrl.js"></script>
<script src ="AngularCtrl/AdminCtrl.js"></script>



<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
<div class="container" >
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header" >
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a  href="/"><img src="img/Logo.png" alt="logofasa7ni" style="position:fixed; left:1"></a>
		
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<ul class="nav navbar-nav navbar-right">
			<li>
			<a  href="/">Home</a>
			</li>
			<li class="dropdown">

			<a  class="dropbtn" >Cinema</a>
			<div class="dropdown-content">
    <a href="/Cinemas">View Category</a>
    <a href="/Cinemas/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Kora</a>
			<div class="dropdown-content">
    <a href="/Kora">View Category</a>
    <a href="/Kora/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Fight</a>
			<div class="dropdown-content">
    <a href="/Fights">View Category</a>
    <a href="/Fights/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Escape Room</a>
			<div class="dropdown-content">
    <a href="/EscapeRooms">View Category</a>
    <a href="/EscapeRooms/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Race</a>
			<div class="dropdown-content">
    <a href="/Races">View Category</a>
    <a href="/Races/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Trampoline</a>
			<div class="dropdown-content">
    <a href="/Trampolines">View Category</a>
    <a href="/Trampolines/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Malahy</a>
			<div class="dropdown-content">
    <a href="/Malahy">View Category</a>
    <a href="/Malahy/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Theatre</a>
			<div class="dropdown-content">
    <a href="/Theatres">View Category</a>
    <a href="/Theatres/Reviews">View Reviews</a>
		</div>
			</li>
			<li class="dropdown">
			<a  class="dropbtn" >Concerts</a>
			<div class="dropdown-content">
    <a href="/Concerts">View Category</a>
    <a href="/Concerts/Reviews">View Reviews</a>
		</div>
			</li>
			<li >
			<a  href="/SpecialOffers">Special offers</a>
			</li>
			<li>
			<a ng-if="!isLoggedIn" class="page-scroll" href="/SignUp">Sign-up</a>
			</li>
			
			<li>
			<a  ng-if="!isLoggedIn" href="/SignIn">Sign-in</a>
			<a 	ng-if="isLoggedIn"  href="/SignOut">Sign-out></a>
			<a 	ng-if="isLoggedIn && isUser"  href="/profile">MY Profile></a>
			<a 	ng-if="isLoggedIn && isSP"  href="/serviceP">MY Profile></a>
			<a 	ng-if="isLoggedIn && isAdmin"  href="/admin">MY Profile></a>
			</li>

     <li >
			 <form  method="post"  action="/search" id="search">
 				<select >
 				<option value ="filterBy" selected>Filter By</option>
 				<<option ng-repeat="item in filters" value="{{item}}">{{item.field}}</option>-->
 				</select>
 			<input   name="searchBox" type="text"  placeholder="Search" size = "9"  style= "background-color: transparent; border: 1pt ridge lightgrey">
 			<input  action = "/search" type="submit" id="search"  value="Search" style= "background-color: transparent; border: 0pt ridge lightgrey">

 </form>

	</li	>



 </ul>

	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->

</nav>
</head>
<base href="/">
<body id="page-top" ng-controller="filterController"  >


<br></br><br></br><br></br>
	<div ng-view></div>


<!-- Section Footer================================================== -->

<section id="footer" class="bg-dark">
<div class="container">

<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="bottombrand wow flipInX">Fasa7ni	</h1>
		<p>
			&copy; A Web Application Made By The EMINARKEYS
		</p>

	</div>
</div>
</div>


</section>

<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/contact.js"></script>
<script src="js/countto.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
