<html> 

	<head> 

		<h1> <%= title %> </h1>
	

	</head>


	<body> 
		<ul>
		 <% cinema.forEach(function(cinema){%>
		 
		 <li> <%= cinema.name %> </li>
		 
										 <%})%>
		 </ul>

	</body>


</html>