<html> 

	<head> 

		<h1> <%= title %> </h1>
	

	</head>


	<body> 
		<ul>
		 <% concert.forEach(function(concert){%>
		 
		 <li> <%= concert.businessName %> </li>
		 
										 <%})%>
		 </ul>

	</body>


</html>