<html> 

	<head> 

		<h1> <%= title %> </h1>
	

	</head>


	<body> 
		<ul>
		 <% escapeRoom.forEach(function(escapeRoom){%>
		 
		 <li> <%= escapeRoom.name %> </li>
		 
										 <%})%>
		 </ul>

	</body>


</html>