<html> 

	<head> 

		<h1> <%=title%> </h1>

	</head>




	<body> 
	
      <h3>Update contact Info</h3>
		
      <input type = "submit"  name = "updateNum" />
      <input type = "submit"  name = "updateNum" />

      <input type = "submit"  name = "updateNum" />
      <input type = "submit"  name = "updateNum" />
      
    </form>
   
	</body>


</html>